[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vikideveloper
[access "refs/for/refs/*"]
	read = group user/Vikideveloper
	push = group user/Vikideveloper
	label-Code-Review = -2..+2 group user/Vikideveloper
	label-Verified = -1..+1 group user/Vikideveloper
	rebase = group user/Vikideveloper
	removeReviewer = group user/Vikideveloper
	submit = group user/Vikideveloper
[access "refs/heads/*"]
	read = group user/Vikideveloper
	create = group user/Vikideveloper
	push = +force group user/Vikideveloper
	pushMerge = group user/Vikideveloper
[access "refs/tags/*"]
	push = +force group user/Vikideveloper
	pushTag = group user/Vikideveloper
	pushSignedTag = group user/Vikideveloper
